body {
background:url(../img/fundo.png);



@font-face {
    font-family: myFirstFont;
    src: url(fonts/Montserrat-UltraLight.otf);
}



> #header {
		> .content {
			@include make-row;
			
			> .logo1 {
			
			@include make-xs-column-offset(3);
			
			
				
			
			}
			
			
			> .logo2 {
				
			
			
			
			}
		
		
		}
	
	
	}
	

section {
	> #localizacao{
		margin-left:10px;
		
	}

}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
}
 


> #slider1{	
	 margin-top:5px;
	 
	
	> #subRow {
	
		> #myCarousel{
		margin-left:20px;
		
		> .carousel-inner{
		
			> .item{
			width:1060px;
			
			> .carousel-caption{
			height:120px;
			border:solid black 1px;
			background-color:black;
			width:100%;
			opacity:0.8;
			margin-left:-220px;
			
			h2 {
			color:white;
			margin-top:-5px;
			margin-left:-15%;
			}
			
			h4 {
			color:white;
			margin-left:-15%;
			}
			}
			}
			
		
		}
	
	}
	}
	


}
  
	
	
	
	
	> #navegacao{
	
	background:#065206;
	margin-top:5px;
		> .container {
			> #navegacao__content {
			@include make-md-column(12);
			.navbar {
			
			margin-left:75px;
				border-radius: 0;
				background:#065206;
				box-shadow:none;
				border:none;
				margin-bottom:0;
				.navbar-collapse{
					border:none;
					>ul.navbar-nav{
						> li{
							&.active{
								> a{
								   background:#0d980d;
								   
									
						}
						}
						a{
							color:#fff;
							font-size: 20px;
							font-family:  myFirstFont;
							&:hover{
							background:#0d980d;
							}
						}
				}
				
				}
				}
			
			}
			}
		
		}
	
	
	}	
	
}